extends ../layout

block content
  if message
    div.error-message= message

  h2 Login To Lil-Bytes!
  form(method='POST', action='/users/login')
    .form
      label Email
      input(type='text', name='email')
    .form
      label Password
      input(type='password', name='password')
    .form
      button Login
