html
  head
  script(type='text/javascript', src='/static/js/analytics.js')
  script(type='text/javascript').
    archive_analytics.values.server_name="wwwb-app8.us.archive.org";archive_analytics.values.server_ms=270;
  link(type='text/css', rel='stylesheet', href='/static/css/banner-styles.css')
  title Gay Shame: A Celebration of Resistance
  meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
  style(type='text/css').
    a
    {text-decoration: none;}
    .menu
    {position: absolute;
    left: 10px;
    width: 100px;
    border: 1px solid white;
    background-color: #EFEFF7;
    layer-background-color: #CCCCCC;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    visibility: hidden;}
    body {
    background-color: #efc8c9;
    }
    .style1 {font-family: Georgia, "Times New Roman", Times, serif}
    .style2 {font-size: 24px}
    .style9 {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .style10 {color: #ec2983}
    .style12 {font-size: 24px; font-family: Geneva, Arial, Helvetica, sans-serif; }
    .style14 {
    color: #ED2884;
    font-size: 14px;
    font-weight: bold;
    }
    .style18 {font-family: Geneva, Arial, Helvetica, sans-serif}
    .style20 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
    .style23 {font-size: 10px}
    .style26 {font-family: Geneva, Arial, Helvetica, sans-serif; font-weight: bold; }
  script(language='JavaScript', type='text/JavaScript').
    <!--
    function MM_reloadPage(init) {  //reloads the window if Nav4 resized
    if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
    else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
    }
    MM_reloadPage(true);
  

  body(leftmargin='0', topmargin='0', bottommargin='0', marginwidth='0', marginheight='0', link='#ffffff', alink='#ffffff', vlink='#ffffff', data-gr-c-s-loaded='true', cz-shortcut-listen='true')
    table(width='100%', border='0', cellspacing='0', cellpadding='0')
      tbody
        tr
          td(width='90%', align='left', bgcolor='#EFC7C8')
            span.style1
              a.style2(name='top')
            img(src='images/gayshamenavbar.jpg', width='800', height='75', hspace='0', vspace='0', border='0', align='left', usemap='#top_bar')
            map(name='top_bar')
              area(shape='RECT', coords='299,51,362,69', href='about.html', alt='About', onmouseout="window.status=''; return true", onmouseover="window.status='About Gay Shame'; return true")
              area(shape='RECT', coords='372,52,442,68', href='archives.html', alt='Archives', onmouseout="window.status=''; return true", onmouseover="window.status='Archives'; return true")
              area(shape='RECT', coords='457,49,573,69', href='images.html', alt='Image Gallery', onmouseout="window.status=''; return true", onmouseover="window.status='Image Gallery'; return true")
              area(shape='RECT', coords='589,50,648,68', href='links.html', alt='Links', onmouseout="window.status=''; return true", onmouseover="window.status='Links'; return true")
              area(shape='RECT', coords='658,50,746,67', href='contact.html', alt='Contact Us', onmouseout="window.status=''; return true", onmouseover="window.status='Contact Us'; return true")
              area(shape='POLY', coords='54,6,36,70,88,73,104,54,171,70,238,68,289,44,277,32,207,14,194,34,157,30,151,9,54,6,53,6,52,7,54,7,53,7,51,10', href='index2.php', alt='', onmouseout="window.status=''; return true", onmouseover="window.status=''; return true")
    p.style1  
    table(width='647', border='1', align='center')
      tbody
        tr
          th(width='637', scope='col')
            h2.style9(align='center')
              span.style23
                a.style10(href='#statement') Statement of Purpose
                |  
                a.style10(href='#consenus') Consensus Process
                |  
                a.style10(href='#genconsensus') General Consensus Decisions
                |  
                a.style10(href='#unity') Points of Unity
                |  
                a.style10(href='#process') Points of Process
              |  
              a.style14(href='#meetings') Meetings
              span.style23
                | 
                a.style10(href='#academia') Gay Shame & Academia 
            h1.style1
              img(src='images/gayshameLOGO.jpg', alt='Gay Shame', width='359', height='77')
            p.style2(align='center')
              span.style18
                a(name='statement') Statement of Purpose
            blockquote.style18
              p(align='left')
                strong GAY SHAME
                |  is a Virus in the System. We are committed to a queer extravaganza that brings direct action to astounding levels of theatricality. We will not be satisfied with a commercialized gay identity that denies the intrinsic links between queer struggle and challenging power. We seek nothing less than a new queer activism that foregrounds race, class, gender and sexuality, to counter the self-serving “values” of gay consumerism and the increasingly hypocritical left. We are dedicated to fighting the rabid assimilationist monster with a devastating mobilization of queer brilliance. 
                strong GAY SHAME 
                | is a celebration of resistance: all are welcome.
            h1.style18
            h1.style12(align='center')
              a(name='consenus') Consensus Process
            blockquote.style18
              p(align='left')
                | In order for 
                strong GAY SHAME
                |  meetings to run as smoothly as possible, at the beginning of each meeting, someone volunteers to facilitate. The facilitator keeps track of who wants to speak, calls on speakers, makes sure speakers stay on topic and keeps the agenda moving.
              p(align='left')
                | Consensus means everyone comes to agreement before any decision can be made. Believe it or not, this is generally easy. After a proposal and discussion the facilitator calls for consensus when a decision seems imminent.
              p(align='left')
                | Occasionally, the disagreement is so fierce that we use a more formal consensus process which includes calling for who is in favor, who objects and who abstains. If there are objections or abstentions, alternate proposals are made until consensus can be reached.
              p(align='left')
                | If someone believes that a decision nearing consensus is contradictory to our statement of purpose (see above), that person can block consensus. This has only happened one time in our history. Of course, consensus decisions may always be revisited in the general meeting. Usually, though, it’s all flower power and SSRIs here at 
                strong GAY SHAME
                | .
            h1.style12(align='center')
              a(name='genconsensus') General Consensus Decisions
            ul.style18
              div(align='left')
                ul
                  li
                    strong  GAY SHAME
                    |  participants, when speaking to the press, always identify as “Mary”. This is so no one is falsely identified or targeted as a “leader”. Mary’s frequently change their last name in order to facilitate this delightful anonymity.
            .style18(align='left')
              ul
                ul
                  li
                    | Press conferences only happen by consensus decision at weekly general meetings (currently on Saturdays); the only exception is if GAY SHAME participants have been jailed at an action.
                  li
                    | At each meeting we decide what (if anything) to post on the list-serve: this can only include demos or open meetings. The list-serve is not for discussion…that’s what meetings are for!
            ul.style18
            h1.style12(align='center')
              a(name='unity') Points of Unity
            ul.style18
              div(align='left')
                ul
                  li
                    | We will express outrage through symbolic actions in order to inspire ourselves to confront power dynamics and disseminate information.
            .style18(align='left')
              ul
                ul
                  li
                    | We will not only critique targets like corporations, but we will also expose inconsistencies within our social groups and so-called “communities”, in order to grow more toward our radical ideals. Whenever possible, we will use humor and satire to get our points across and to critique ourselves.
                  li
                    | We will call out the greed and consumerism inherent in mainstream gay identity. We are dedicated to fighting capitalism and it’s resulting inequalities.
                  li
                    | We will go beyond theorizing to make our actions not only fun but also empowering.
                  li
                    | Our goal is to serve as a catalyst to encourage people to take direct action and civil disobedience further.
                  li  Our goal is to create a home for the culturally homeless. 
                  li  Assimilation is erasure. We resist assimilation in all its forms. 
                  li
                    | Fighting racism, classism, misogyny, heterosexism, transphobia, ableism and all other hierarchies is the central purpose of 
                    strong GAY SHAME
                    | , not an add-on. We will create a space where radical queers can challenge these hierarchies.
            ul.style18
            h1.style12(align='center')
              a(name='process') Points of Process
            ul.style18
              div(align='left')
                ul
                  li
                    | We will take time to make sure that everyone is informed before making consensus decisions. After reaching consensus we will inform everyone at future meetings who haven’t been present.
            .style18(align='left')
              ul
                ul
                  li
                    | We will develop an organized process that allows and encourages everyone to speak, but is not so rigid that it restricts creativity.
                  li
                    | We come together to create dynamite actions; we will work against becoming a clique. Nobody owns this group.
            p  
            table(width='650', height='215', border='2')
              tbody
                tr
                  td
                    h1(align='center')
                      strong
                        a(name='meetings')
                          font(color='#FF0000') Meetings
                    blockquote
                      p.style26(align='left')
                        | GAY SHAME meets every Saturday in the Tede Mathews Reading Room of Modern Times Bookstore @ 
                        a.style10(href='/web/20160427000914/http://maps.yahoo.com/maps_result?addr=888+Valencia+St&csz=san+francisco%2C+ca&country=us&new=1&name=&qty=', target='_blank', title='click for a map!') 888 Valencia btw 19th & 20th.
                        |  Meeting time is 5:30PM, which means that people begin to arrive at 5:30PM and we start the meeting no later than 5:45PM. In addition, we often hold smaller meetings throughout the week to plan specific actions and activities.
            blockquote
              p.style18(align='left')  
              p.style18(align='center')
                span.style12
                  a(name='academia') Gay Shame & Academia
              blockquote
                p.style18(align='left')
                  strong
                    | If you are writing a paper, GAY SHAME offers plenty of materials online and hopefully our meetings are great sources of inspiration. We hope that once your paper has been turned in that you remember to unleash your defiance on the world for all to see. GAY SHAME challenges you to step away from the classist pillars of theoretical "discourse" and celebrate direct action deviance (see 
                    a(href='/web/20160427000914/http://gayshamesf.org/howtostartadirectactiongroup.html') HOW TO START A DIRECT ACTION page for
                    |  ideas).
              p.style18(align='center')
                span.style12
                  a(name='academia')  
              p.style20(align='center')
                | 
                a.style10(href='#top') Top
                |  |
    p(align='center')
      img(src='images/gayshamestencilintl.jpg', width='391', height='335', border='2')
    p(align='center')  
