extends layout

block content
  head
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
  body

    a(class="community-link" href="/community")
        h1 Community Resources Board --- Check it out!
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon1/')
      img(src='./images/icon1.png', ,='', width='200px', height='200px', style='position:absolute; left:85%; top:86%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon2/')
      img(src='./images/icon2.png', ,='', width='200px', height='200px', style='position:absolute; left:27%; top:0%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon3/')
      img(src='./images/icon3.gif', ,='', width='200px', height='200px', style='position:absolute; left:34%; top:91%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon4/')
      img(src='./images/icon4.png', ,='', width='200px', height='200px', style='position:absolute; left:72%; top:80%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon5/')
      img(src='./images/icon5.png', ,='', width='200px', height='200px', style='position:absolute; left:67%; top:36%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon6/')
      img(src='./images/icon6.gif', ,='', width='200px', height='200px', style='position:absolute; left:11%; top:82%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon7/')
      img(src='./images/icon7.png', ,='', width='200px', height='200px', style='position:absolute; left:7%; top:22%;')
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
    | POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    |         POPUPS MUST BE ENABLED       
    b THE GAY SHAME EXPERIENCE
    a(href='?dir=icon8/')
      img(src='./images/icon8.png', ,='', width='200px', height='200px', style='position:absolute; left:6%; top:43%;')
