extends layout

block content
  head
    style.
      body{background:#FC78C5; letter-spacing:1px;line-height:200%;color:white;} img:hover{-webkit-filter: invert(100%);
      filter: invert(100%);}
  head
    script(type='text/javascript', src='/static/js/analytics.js')
    link(type='text/css', rel='stylesheet', href='/static/css/banner-styles.css')
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title Gay Shame: A Celebration of Resistance
    style(type='text/css').
      body {
      background-color: #efc8c9;
      }
      .style1 {
      color: #ec4692;
      font-family: "Courier New", Courier, mono;
      }
      .style2 {font-size: 9px}
      .style3 {font-size: 10px}
      .style4 {font-size: 10}
      .style5 {font-size: 12px}

    p(align='center')  
    p(align='center')  
    p(align='center')
      a(href='/home')
        img(src='images/gssf_entry.jpg', alt='Gay Shame San Francisco', width='700', height='150', border='0', align='baseline')
    div(align='center')
      table(width='639', height='186', border='0')
        tbody
          tr
            th(width='629', height='180', scope='col')
              .style1(align='center')
                p
                  span.style2
                    span.style3
                      span.style4
                        span.style5
                          strong  GAY SHAME
                          |  is a Virus in the System. We are committed to a queer extravaganza that brings direct action to astounding levels of theatricality. We will not be satisfied with a commercialized gay identity that denies the intrinsic links between queer struggle and challenging power. We seek nothing less than a new queer activism that foregrounds race, class, gender and sexuality, to counter the self-serving “values” of gay consumerism and the increasingly hypocritical left. We are dedicated to fighting the rabid assimilationist monster with a devastating mobilization of queer brilliance.
                p.style5
                  strong
                    a(href='/index') GAY SHAME
                  a(href='/index') is a celebration of resistance: All Are Welcome.
    p(align='center')
      strong
